// regular style tailwind 
@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");

// regular style toast
@import "~ngx-toastr/toastr";
@import "./app//shared/styles/shared.scss";


:root {
  --bg-color: #f7f7fa;
  --bg-dark-color: #1c1c28;
}

body,
html {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

